.octagon {
  width: 100%;
  height: 100%;
  clip-path: polygon(
    8% 0%,
    92% 0%,
    100% 8%,
    100% 92%,
    92% 100%,
    8% 100%,
    0% 92%,
    0% 8%
  );
  border-radius: 10%;
}

.hexagon-v {
  width: 100%;
  height: 100%;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.hexagon-h {
  width: 100%;
  height: 100%;
  clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
}
.curve {
  clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 15% 100%);
}

.navLink {
  @apply opacity-70 hover:opacity-90;
}

.active {
  @apply opacity-50;
}

.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}

.gradient {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000);
}

.violet-gradient {
  background: #804dee;
  background: linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(
    -90deg,
    #804dee 0%,
    rgba(60, 51, 80, 0) 100%
  );
}

.green-pink-gradient {
  background: #00cea8;
  background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  background: -webkit-linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
}

.translucent-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Adjust the opacity by modifying the last value (0.5 in this case) */
  z-index: 9999; /* Adjust the z-index to ensure it's displayed above other elements if necessary */
}

.canvas-loader {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: spin 1.1s infinite ease;
  transform: translateZ(0);
}

.stars-canvas-container {
  width: 100%;
  height: auto;
  position: absolute;
  inset: 0;
  z-index: -1;
}

input,
textarea {
  outline: none;
  border: none;
  background-color: transparent;
  color: black;
  transition: 0.25s ease;
}

.inputClass {
  border: 3px solid #618dfb;
  background-color: whitesmoke;
}

.inputClass:focus {
  border-width: 2px;
}

.common-padding {
  @apply py-10 md:px-32 md:py-28 px-4;
}

.wh-full {
  @apply w-full h-full;
}

.skill-card-bg1 {
  background-image: linear-gradient(
    to right bottom,
    #050816,
    #050816,
    #343333,
    #a1bbff,
    #4479fd
  );
}

.skill-card-bg2 {
  background-image: linear-gradient(
    to bottom,
    #050816,
    #050816,
    #343333,
    #a1bbff,
    #4479fd
  );
}

.skill-card-bg3 {
  background-image: linear-gradient(
    to left bottom,
    #050816,
    #050816,
    #343333,
    #a1bbff,
    #4479fd
  );
}

.card-wrap {
  filter: drop-shadow(1px 26px 60px rgba(77, 77, 67, 0.5));
}

.primary-outline:hover > path {
  opacity: 0.85;
  stroke: #a1bbff;
}